<article class="h-entry">
<header>
<!-- tmpl_if usingtoc -->
<div id="toc">
<!-- tmpl_loop name="toc_loop" -->
<span class="toclevel<!-- tmpl_var name="level" -->">- <a href="#<!-- tmpl_var name="cleantitle" -->"><!-- tmpl_var name="toclink" --></a></span><br />
<!-- /tmpl_loop -->
</div>
<!-- /tmpl_if -->
<h1 class="p-name"><!-- tmpl_var name="title" --></h1> 
</header>
<div class="e-content">
<!-- tmpl_var name="html" -->
</div> <!-- close e-content div -->

<footer style="display:none;">
<p class="h-card">
<img class="u-photo" src="https://c1.staticflickr.com/5/4243/34042815343_3d3683ba13_q.jpg" /> - 
<a class="p-name p-author"  href="/about.html"><!-- tmpl_var name="author_name" --></a> - 
<a class="u-url" href="https://github.com/boghop">github.com/boghop</a> - 
<a class="u-email" href="mailto:boghop@riseup.net">boghop@riseup.net</a>
</p>
</footer>

</article>

